@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --padding-page: 30px;
    --padding-slogan: 100px;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: Arial, Helvetica, sans-serif;

    --header-background: radial-gradient(circle at 28% 93%, rgba(2, 2, 2,0.04) 0%, rgba(2, 2, 2,0.04) 50%,rgba(223, 223, 223,0.04) 50%, rgba(223, 223, 223,0.04) 100%),radial-gradient(circle at 13% 75%, rgba(185, 185, 185,0.04) 0%, rgba(185, 185, 185,0.04) 50%,rgba(25, 25, 25,0.04) 50%, rgba(25, 25, 25,0.04) 100%),radial-gradient(circle at 79% 39%, rgba(34, 34, 34,0.04) 0%, rgba(34, 34, 34,0.04) 50%,rgba(57, 57, 57,0.04) 50%, rgba(57, 57, 57,0.04) 100%),linear-gradient(167deg, rgb(39, 37, 178),rgb(169, 88, 194));
    --shadow-box-a: rgba(0,0,255,.2);
    --hover-a: radial-gradient(circle at 28% 93%, rgba(2, 2, 2,0.04) 0%, rgba(2, 2, 2,0.04) 50%,rgba(223, 223, 223,0.04) 50%, rgba(223, 223, 223,0.04) 100%),radial-gradient(circle at 13% 75%, rgba(185, 185, 185,0.04) 0%, rgba(185, 185, 185,0.04) 50%,rgba(25, 25, 25,0.04) 50%, rgba(25, 25, 25,0.04) 100%),radial-gradient(circle at 79% 39%, rgba(34, 34, 34,0.04) 0%, rgba(34, 34, 34,0.04) 50%,rgba(57, 57, 57,0.04) 50%, rgba(57, 57, 57,0.04) 100%),linear-gradient(167deg, rgba(39,37,178, 0),rgba(169,88,194, 0));
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: white;
}
ul {
  list-style: none;
}

a{
  color: white;
  font-family: var(--font-secondary);
  text-decoration: none;
}
/* index */
header {
  background: var(--header-background);
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    'nav nav nav'
    'slogan slogan slogan'
    'btn btn btn'
  ;
}

@media (max-width: 1025px) {
  .slogan_wrap img {
    display: none;
  }

  .slogan_text_wrap{
    padding-top: 0px;
  }
}

@media (max-height: 730px) {
  .slogan_wrap img {
    width: 300px;
    height: 300px;
  }
  .slogan_wrap{
    padding: 0 100px;
  }
  header{
    height: 100vh;
  }
}

/* nav */
.nav_wrap{
  display: flex;
  justify-content: space-between;
  padding: var(--padding-page);
  grid-area: nav;
}

.nav_wrap ul{
  display: flex;
}

.nav_wrap a{
  text-decoration: none;
  font-weight: bolder;
  padding: 10px;
  position: relative;
}
.nav_wrap a:after{
  content: "";
  position: absolute;
  background: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
}

.nav_wrap a:hover::after{
  width: 0;
  animation: nav_effect .5s forwards;
}

@keyframes nav_effect{
  to{
    width: 100%;
  }
}

/* slogan */ 

.slogan_wrap{
  display: flex;
  justify-content: space-between;
  padding: var(--padding-slogan);
  grid-area: slogan;
  
}

.slogan_text_wrap{
  padding-top: 150px;
  width: 450px;
}

.slogan_text_wrap h3{
  font-family: var(--font-primary);
  padding-top: 10px;
}

.slogan_wrap img {
  width: 500px;
  height: 400px;
}

/* btn */

.btn_wrap{
  display: flex;
  gap: 10px;
  justify-content: center;
  animation: btn 1.5s forwards;
  grid-area: btn;
}

@keyframes btn {
  from{
    transform: translateX(-800px);
  }
  to{
    transform: translateX(0px);
  }
}

.btn_wrap a{
  font-size: 20px;
  background:transparent;
  padding: 10px;
  border-radius: 8%;
  box-shadow: 2px 2px 2px 2px var(--shadow-box-a);
  transition: top, left, right, bottom, 100ms ease-in-out;
}
.btn_wrap a:hover{
  background: var(--hover-a)
}

/* responsivo */

@media (width: 360px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 20px;
    margin-bottom: 100px;
  }
}

@media (width: 411px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 20px;
    font-size: 18px;
    margin-bottom: 100px;
  }
  .btn_wrap a {
    font-size: 22px;
  }
}

@media (height: 823px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 20px;
    font-size: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .btn_wrap a {
    font-size: 25px;
  }
}

@media (width: 320px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 20px;
    font-size: 14px;
    margin-bottom: 100px;
  }
  .btn_wrap a {
    font-size: 18px;
  }
  .nav_wrap{
    font-size: 10px;
  }
}

@media (width: 375px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 20px;
    font-size: 17px;
    margin-bottom: 100px;
  }
  .btn_wrap a {
    font-size: 20px;
  }
  .nav_wrap{
    font-size: 10px;
  }
}


@media (width: 414px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 20px;
    font-size: 20px;
    margin-bottom: 100px;
  }
  .btn_wrap a {
    font-size: 22px;
  }
  .nav_wrap{
    font-size: 10px;
  }
}

@media (width: 375px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 20px;
    font-size: 18px;
    margin-bottom: 100px;
  }
  .btn_wrap a {
    font-size: 23px;
  }
  .nav_wrap{
    font-size: 10px;
  }
}


@media (width: 768px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 50px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 100px;
  }
  .btn_wrap a {
    font-size: 35px;
  }
  .nav_wrap{
    font-size: 20px;
  }
}

@media (width: 540px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 50px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 100px;
  }
  .btn_wrap a {
    font-size: 22px;
  }
  .nav_wrap{
    font-size: 20px;
  }
}

@media (width: 280px) {
  .slogan_wrap {
    padding: 0px;
  }
  .slogan_wrap img{
    display: none;
  }

  .slogan_text_wrap{
    padding: 0 20px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 100px;
  }
  .btn_wrap a {
    font-size: 16px;
  }
  .nav_wrap{
    font-size: 10px;
  }
}

@media (height: 600px) {
  .slogan_wrap {
    padding: 0px;
  }

  .slogan_text_wrap{
    padding: 150px 20px 0px 20px;
    font-size: 15px;
  }
  .btn_wrap a {
    font-size: 18px;
  }
  .nav_wrap{
    font-size: 16px;
  }
}

@media (width: 1280px) {
  .slogan_wrap {
    padding: 20px;
  }

  .slogan_text_wrap{
    width: 100%;
    padding: 140px 20px 0px 20px;
    font-size: 20px;
  }
  .btn_wrap a {
    font-size: 25px;
  }
  .nav_wrap{
    font-size: 16px;
  }
}

/* responsive heigth */
@media (max-height: 800px){
  .slogan_wrap {
    padding: 0 100px;
  }
  .slogan_text_wrap{
    padding-top: 0;
  }
  .table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}
@media (max-height: 800px) and (max-width:1055px){
  .slogan_text_wrap{
    padding-top: 0;
  }
}
/* responsive width */
@media (max-width: 1055px){
  .slogan_wrap {
    padding: 0 100px 100px 100px;
  }
  .slogan_wrap img{
    display: none;
  }
}


